body {
  padding: 0;
  background: #f2f2f2;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header, .marketing, .footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */

H1 {
  font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.bannerimage {
  position: relative;
  height: 100px;
  background-image: linear-gradient( to right, blue, #f06d06);
}

.bannertext {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.searchButton {
  text-align: center;
  display: inline-block;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
}

.searchButton:hover {
  border-style: groove;
}

.searchButton:active {
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

#jenesaispas {
  background-image: url(../images/search2.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

#enteredcity {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 28px;
  margin-left: 15px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #444;
}

/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Supporting marketing content */

table, th, td {
  margin: 25px;
  font-size: 14px;
}

#table {
  border: 1.4rem solid;
  margin: 2.1rem;
}

/* Always set the map height explicitly to define the size of the div
     * element that contains the map. */

#map {
  height: 100%;
}

#menu {
  position: inherit;
  background: #fff;
  padding: 10px;
}

#Mapmode {
  display: none;
}

/* Optional: Makes the sample page fill the window. */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  /* Remove the padding we set earlier */
  .header, .marketing, .footer {
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
